#set($layout = "store/layout/main.vm")

#define($content)

<div class="row">
	<div class="col-xs-12 col-md-12">		
		<div class="jumbotron">
		  	<h1>Affable Spring Bean!</h1>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>		  
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="jumbotron">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum velit augue, pellentesque tincidunt nunc convallis sed. Aliquam sit amet tempus quam. Vivamus sodales leo dui.</p>
		</div>
	</div>
	<div class="col-xs-12 col-md-8">
		<div class="row">
		#foreach($category in $categoryList)
			<div class="col-xs-12 col-md-6">
				<div class="thumbnail">
					<a href="#springUrl("/category?id=${category.id}")">
						<img class="img-responsive" src="#springUrl("/resources/upload/products/${category.name}.jpg")">
					</a>
					<div class="caption">
				        <h4>$category.name.toUpperCase()</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
				    </div>
				</div>
			</div>
		#end
		</div>
	</div>
</div>

#end