<!doctype html>
<html>
	<head>		
		#parse('/layout/head.vm')
    </head>
    
    <body>
	    <div id="wrap">
	    	#parse('/layout/navbar.vm')
	    	
	    	<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
			    		$!content
			    	</div>
			    </div>
	    	</div>
	    </div>
		
		#parse('/layout/footer.vm')
		
        #parse('/layout/foot.vm')
    </body>
</html>