<!doctype html>
<html>
	<head>		
		#parse('/fragment/store/head.vm')
    </head>
    
    <body>
	    <div id="wrap">
	    	#parse('/fragment/store/navbar.vm')
	    	
	    	<div class="container">
				$!content
	    	</div>
	    	
	    </div>
		
		#parse('/fragment/store/footer.vm')
		
        #parse('/fragment/store/foot.vm')
    </body>
</html>