<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- Configure Velocity views resolver -->
	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/views/" />
	</bean>

	<bean id="viewResolver"
		class="com.hvn.velocity.util.VelocityMultipleLayoutViewResolver">
		<property name="cache" value="true" />
		<property name="prefix" value="" />
		<property name="suffix" value=".vm" />
		<property name="contentType" value="text/html; charset=utf-8"></property>
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="mappings">
			<map>
				<entry key="admin/*" value="layout/admin.vm" />
				<entry key="*" value="layout/store.vm" />
			</map>
		</property>
	</bean>

</beans>