<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="store/layouts/default">
<body>
	<div class="container" layout:fragment="content">
		<div class="row" th:switch="${itemMap.size()}">
			<div class="col-xs-12 col-md-12" th:case="0">
				<div class="jumbotron">
					<h1>Affable Spring Bean!</h1>
					<p>There's no item in your shopping cart!</p>
					<p><a th:href="@{/}" class="btn btn-warning">Keep Shopping</a></p>
				</div>
			</div>
			<div class="col-xs-12 col-md-12" th:case="*">
				<div class="jumbotron">
					<h1>Affable Spring Bean!</h1>
					<p>Your shopping cart contains $numOfItems item(s).</p>
					<p>If you want to remove any item, just update its quantity to 0.</p>
					<p>
						<a th:href="@{/}" class="btn btn-info">Keep Shopping</a>
						<a th:href="@{/checkout}" class="btn btn-warning">Checkout</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row" th:unless="${itemMap.isEmpty()}">
			<div class="col-xs-12 col-md-4">
				<div class="jumbotron">
					<h4 th:text="|Subtotal: ${subTotal} USD|"></h4>
					<p><a th:href="@{/clearCart}" class="btn btn-danger">Clear Cart</a></p>
				</div>
			</div>
			<div class="col-xs-12 col-md-8">
				<div class="table-responsive">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th></th>
								<th>Name</th>
								<th>Price</th>
								<th>Quantity</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${itemMap.entrySet()}">
								<td><img th:src="@{|/resources/upload/products/${item.key.getName()}.png|}" /></td>
								<td th:text="${item.key.getName()}"></td>
								<td th:text="|${item.key.getPrice()} USD per Unit|"></td>
								<td>
									<form th:action="@{/updateCart}" method="POST" class="form-inline">
										<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										<div class="form-group">
											<input type="hidden" name="id" th:value="${item.key.getId()}" />
											<input class="form-control" type="text" name="quantity"	th:value="${item.value}" size="2" maxlength="2" />
										</div>
										<button type="submit" class="btn btn-primary">Update</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
