<!-- external javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="#springUrl('/resources/js/jquery-1.10.2.min.js')"></script>