<!DOCTYPE html>
<html>
	<head>
		#parse('/views/admin/fragment/head.vm')
	</head>

	<body>
		<div class="container">
			$!content
    	</div>

		#parse('/views/admin/fragment/foot.vm')

	</body>

</html>