<!doctype html>
<html>
	<head>		
		#parse('/views/store/fragment/head.vm')
    </head>
    
    <body>
	    <div id="wrap">
	    	#parse('/views/store/fragment/navbar.vm')
	    	
	    	<div class="container">
				$!content
	    	</div>
	    	
	    </div>
		
		#parse('/views/store/fragment/footer.vm')
		
        #parse('/views/store/fragment/foot.vm')
    </body>
</html>