#set($layout = "layout/store.vm")

#define($content)

	#if ($itemMap.size() == 0)
	<div class="row">
		<div class="col-xs-12 col-md-12">		
			<div class="jumbotron">
			  	<h1>Affable Spring Bean!</h1>
			  	<p>There's no item in your shopping cart!</p>
			  	<p><a href="#springUrl('/')" class="btn btn-warning">Keep Shopping</a></p>
			</div>
		</div>
	</div>
		
	#else
	<div class="row">
		<div class="col-xs-12 col-md-12">		
			<div class="jumbotron">
			  	<h1>Affable Spring Bean!</h1>
			  	<p>Your shopping cart contains $numOfItems item(s).</p>
			  	<p>If you want to remove any item, just update its quantity to 0.</p>
			  	<p>
			  		<a href="#springUrl('/')" class="btn btn-info">Keep Shopping</a>
			  		<a href="#springUrl('/checkout')" class="btn btn-warning">Checkout</a>
			  	</p>	  
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<div class="jumbotron">
				<h4>Subtotal: $subTotal USD</h4>
				<p><a href="#springUrl('/clearCart')" class="btn btn-danger">Clear Cart</a></p>
			</div>
		</div>	
		<div class="col-xs-12 col-md-8">
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Price</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
					#foreach($item in $itemMap.entrySet())
						<tr>
							<td><img src="#springUrl("/resources/img/products/${item.key.getName()}.png")"></td>
							<td>${item.key.getName()}</td>
							<td>${item.key.getPrice()} USD per Unit</td>
							<td>
								<form action="#springUrl('/updateCart')" method="POST" class="form-inline">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
									<div class="form-group">
										<input type="hidden" name="id" value="${item.key.getId()}">
										<input class="form-control" type="text" name="quantity" value="${item.value}" size="2" maxlength="2">
									</div>
									<button type="submit" class="btn btn-primary">Update</button>
								</form>
							</td>
						</tr>
					#end
					</tbody>
				</table>
			</div>
		</div>
	</div>
	#end

#end