<hr>

<footer>
    <p class="pull-left">&copy; Developed by <a href="https://github.com/sunshine55?tab=repositories" target="_blank">sunshine55</a></p>
    <p class="pull-right">Template by <a href="http://usman.it/free-responsive-admin-template">Charisma</a></p>
</footer>