#set($layout = "layout/auth.vm")

#define($content)

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">
                	<strong>Admin Console</strong>
                </h3>
            </div>
            <div class="panel-body">
            #if($message)
            	<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>$message</strong>
				</div>
			#end
                <form action="#springUrl('/j_spring_security_check')" method="POST">
                	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Username" type="text" autofocus id="j_username" name="j_username" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" type="password" id="j_password" name="j_password" />
                        </div>
                        <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

#end