<!doctype html>
<html>
	<head>		
		#parse('/store/template/head.vm')
    </head>
    
    <body>
	    <div id="wrap">
	    	#parse('/store/template/navbar.vm')
	    	
	    	<div class="container">
				$!content
	    	</div>
	    	
	    </div>
		
		#parse('/store/template/footer.vm')
		
        #parse('/store/template/foot.vm')
    </body>
</html>