<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Netbeans e-commerce tutorial: Spring Velocity Bootstrap">
<meta name="author" content="sunshine55 - a gist of github">

<title>Affable Spring Bean</title>

<!-- The styles -->
<link href="#springUrl('/resources/velocity/css/bootstrap.min.css')" rel="stylesheet">
<link href="#springUrl('/resources/velocity/css/font-awesome.min.css')" rel="stylesheet">
<link href="#springUrl('/resources/velocity/css/plugins/dataTables.bootstrap.css')" rel="stylesheet">
<link href="#springUrl('/resources/velocity/css/sb-admin.css')" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="#springUrl('/resources/velocity/js/html5shiv.js')"></script>
  <script src="#springUrl('/resources/velocity/js/respond.min.js')"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="#springUrl('/resources/velocity/img/apple-touch-icon-144-precomposed.png')">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="#springUrl('/resources/velocity/img/apple-touch-icon-114-precomposed.png')">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="#springUrl('/resources/velocity/img/apple-touch-icon-72-precomposed.png')">
<link rel="apple-touch-icon-precomposed" href="#springUrl('/resources/velocity/img/apple-touch-icon-57-precomposed.png')">
<link rel="shortcut icon" href="#springUrl('/resources/velocity/img/favicon.png')">