#define($content)

<div class="row clearfix">
	<div class="col-md-12 column">		
		<div class="jumbotron">
		  	<h1>Affable Spring Bean!</h1>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>		  
		</div>
	</div>
</div>

<div class="row clearfix">	
	<div class="col-md-12 column">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th class="text-center">Price</th>
					<th class="text-center">Quantity</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img data-src="holder.js/140x90" alt="..."></td>
					<td style="vertical-align: middle;">Name of product</td>
					<td style="vertical-align: middle;" class="text-center">Price &#36;</td>
					<td style="vertical-align: middle;" class="text-center">
						<form class="form-inline">
							<div class="form-group">
								<input class="form-control" type="text" value="1" size="2" maxlength="2">
							</div>
							<button type="submit" class="btn btn-primary">Update</button>
						</form>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="text-center"><h4>Your shopping cart contains ... items.</h4></td>
					<td class="text-center"><h4>Subtotal: ... &#36;</h4></td>
					<td class="text-center">
						<div class="btn-group">
							<button type="button" class="btn btn-danger">Clear</button>						
							<button type="button" class="btn btn-warning">Keep Shopping</button>
							<button type="button" class="btn btn-info">Checkout</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

#end