#define($content)

<div class="row">
	<div class="col-xs-12 col-md-12">		
		<div class="jumbotron">
		  	<h1>Affable Spring Bean!</h1>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>		  
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-3">
		<ul class="nav nav-pills nav-stacked">
		#foreach($category in $categoryList)
			<li #if($id == ${category.id}) class="active" #end>
				<a href="#springUrl("/category?id=${category.id}")">$category.name.toUpperCase()</a>
			</li>
		#end			
		</ul>
	</div>
	<div class="col-xs-12 col-md-9">
		<div class="row">
		#foreach($product in $productList)
			<div class="col-xs-12 col-md-3">
				<div class="thumbnail">
					<img class="img-responsive" src="#springUrl("/resources/img/products/${product.name}.png")">
					<div class="caption">
				        <p><b>Name:</b> $product.name</p>
				        <p><b>Price:</b> $product.price USD</p>
				        <p><a href="#springUrl("/addToCart?id=${product.id}")" class="btn btn-primary">Add to cart</a></p>
				    </div>
				</div>
			</div>
		#end
		</div>
	</div>
</div>

#end