#define($content)

<div class="row clearfix">
	<div class="col-md-12 column">		
		<div class="jumbotron">
		  	<h1>Affable Spring Bean!</h1>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>		  
		</div>
	</div>
</div>

<div class="row clearfix">
	<div class="col-md-2 column">
		<ul class="nav nav-pills nav-stacked">
		#foreach($category in $categoryList)
			<li #if($id == ${category.id}) class="active" #end><a href="#springUrl("/category?id=${category.id}")">$category.name.toUpperCase()</a></li>
		#end			
		</ul>
	</div>
	<div class="col-md-10 column">
		<table class="table table-striped">
			<tbody>
			#foreach($prod in $productList)
				<tr>
					<td><img src="#springUrl("/resources/img/products/${prod.name}.png")" class="img-responsive"></td>
					<td style="vertical-align: middle">$prod.name</td>
					<td style="vertical-align: middle" class="text-center">$prod.price USD</td>
					<td style="vertical-align: middle" class="text-right"><button type="button" class="btn btn-primary">Add to cart</button></td>
				</tr>
			#end
			</tbody>
		</table>
	</div>
</div>

#end