#define($content)

<div class="row clearfix">
	<div class="col-md-12 column">		
		<div class="jumbotron">
		  	<h1>Affable Spring Bean!</h1>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>		  
		</div>
	</div>
</div>

<div class="row clearfix">
	<div class="col-md-6 column">
		<div class="jumbotron">		  
		  <p>Form containing fields to capture customer details</p>
		  <p><a class="btn btn-primary btn-lg" role="button">Submit</a></p>
		</div>
	</div>
	<div class="col-md-6 column">
		<div class="row clearfix">
			<div class="col-md-12 column">		
				<div class="jumbotron">		  
				  <p>Purchase condition</p>				  
				</div>
			</div>			
		</div>
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="jumbotron">		  
				  <p>Purchase calculation: subtotal + delivery charge</p>				  
				</div>
			</div>			
		</div>
	</div>
</div>

#end