#define($content)

<div class="row clearfix">
	<div class="col-md-12 column">		
		<div class="jumbotron">
		  	<h1>Affable Spring Bean!</h1>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>		  
		</div>
	</div>
</div>

<div class="row clearfix">
	<div class="col-md-4 column">
		<div class="jumbotron">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum velit augue, pellentesque tincidunt nunc convallis sed. Aliquam sit amet tempus quam. Vivamus sodales leo dui.</p>
		</div>
	</div>
	<div class="col-md-8 column">
		<div class="row clearfix">
			<div class="col-md-6 column">		
				<div class="thumbnail">
					<img src="#springUrl("/resources/img/products/${categoryList.get(0).name}.jpg")">
					<div class="caption">
				        <h4>$categoryList.get(0).name.toUpperCase()</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>				        
				    </div>
				</div>
			</div>
			<div class="col-md-6 column">
				<div class="thumbnail">
					<img src="#springUrl("/resources/img/products/${categoryList.get(1).name}.jpg")">
					<div class="caption">
				        <h4>$categoryList.get(1).name.toUpperCase()</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>				        
				    </div>
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-6 column">
				<div class="thumbnail">					
					<img src="#springUrl("/resources/img/products/${categoryList.get(2).name}.jpg")">
					<div class="caption">
				        <h4>$categoryList.get(2).name.toUpperCase()</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>				        
				    </div>
				</div>
			</div>
			<div class="col-md-6 column">
				<div class="thumbnail">					
					<img src="#springUrl("/resources/img/products/${categoryList.get(3).name}.jpg")">
					<div class="caption">
				        <h4>$categoryList.get(3).name.toUpperCase()</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>				        
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

#end