#define($content)

<div class="row clearfix">
	<div class="col-md-12 column">		
		<div class="jumbotron">
		  	<h1>Affable Spring Bean!</h1>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>		  
		</div>
	</div>
</div>

<div class="row clearfix">
	<div class="col-md-4 column">
		<div class="jumbotron">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum velit augue, pellentesque tincidunt nunc convallis sed. Aliquam sit amet tempus quam. Vivamus sodales leo dui.</p>
		</div>
	</div>
	<div class="col-md-8 column">
		<div class="row clearfix">
			<div class="col-md-6 column">		
				<div class="thumbnail">
					<img data-src="holder.js/100%x180" alt="...">
				</div>
			</div>
			<div class="col-md-6 column">
				<div class="thumbnail">
					<img data-src="holder.js/100%x180" alt="...">
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-6 column">
				<div class="thumbnail">
					<img data-src="holder.js/100%x180" alt="...">
				</div>
			</div>
			<div class="col-md-6 column">
				<div class="thumbnail">
					<img data-src="holder.js/100%x180" alt="...">
				</div>
			</div>
		</div>
	</div>
</div>

#end