# nodejs
node_modules/
*.log
package-lock.json

# production
build/
dist/
*local

# testing
coverage/

# vscode
.vscode/

# typescript
*.tsbuildinfo

# testing
coverage/

# misc
.vercel
next-env.d.ts
.next/
out/
