<!doctype html>
<html>
	<head>
		#parse('/admin/template/head.vm')
	</head>
	
	<body>
		<div id="wrapper">
			#parse('/admin/template/navbar.vm')
			
			#parse('/admin/template/leftmenu.vm')
			
			<div id="page-wrapper">
				$!content
			</div>
		</div>
		
		#parse('/admin/template/foot.vm')
	</body>
</html>